<!DOCTYPE html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Backbone Attendance</title>
    <meta name="author" content="David Mitchell <david.c.mitchell@gmail.com>">

    <link rel="stylesheet" href="style/screen.css" media="screen, projection">

    <script src="js/vendor/modernizr-1.6.min.js"></script>
    <script src="js/vendor/jquery-1.6.4.js"></script>
    <script src="js/vendor/jquery.couch.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/backbone-couchdb.js"></script>
    <script src="js/vendor/backbone-relational.js"></script>
    <script src="js/InitialSetup.js"></script>
    <script src="js/Models.js"></script>
    <script src="js/BackboneViews.js"></script>
    <script src="js/AttendanceApp.js"></script>

    <script type='text/template' id='classes-template'>
		<h1>Aikido Classes</h1>
		<button class='class add'><img src='images/add.png'/></button>
		<ul class='classes'></ul>
	</script>
	
    <script type="text/template" id="class-template">
	    <button class='class edit'><img src='images/edit.png'/></button>
	    <button class='class delete'><img src='images/delete.png'/></button>

		<%= date %> <%= notes %>
	</script>

    <script type="text/template" id="class-edit-template">
		<h1>Aikido Class</h1>
		<button class='class add'><img src='images/add.png'/></button>
		<ul class='attributes'>
			<li><span class="class_date datepicker">Date: <input name='date' type='text' value='<%= date %>' placeholder='2000-01-01'/></span></li>
			<li>Notes: <textarea name='notes' rows="3" cols="50"><%= notes %></textarea></li>
			<li><ol class="ranks">
			<% _.each(students, function(student) { %>
				<li><%= student.first_name %> <%= student.last_name %></li>
			<% }); %>
			</ol></li>
			<li>
			<button class='class save'><img src='images/save.png'></button>
			<button class='class cancel'><img src='images/delete.png'></button>
			</li>
		</ul>
	</script>

	<script type="text/template" id="students-template">
		<h1>Aikido Students</h1>
		<button class='student add'><img src='images/add.png'/></button>
		<ul class='students'></ul>
    </script>

    <script type="text/template" id="student-template">
      <section id="student_<%= _id %>">
      <button class='student edit'><img src='images/edit.png'/></button>
      <button class='student delete'><img src='images/delete.png'/></button>
      <span class="student_first_name"><%= first_name %></span>
      <span class="student_last_name"><%= last_name %></span>
      <span class='student_current-rank'>(<%= this.model.current_rank().alternate_name %>/<%= this.model.current_rank().date %>)</span>
      <span class="student_training-days">Days: <%= rank_training_days %></span>
      <ol class="ranks" style='display:none'>
        <% _.each(ranks, function(rank) { %>
          <li><%= rank.name %> (<%= rank.alternate_name %>) <span class='date'><%= rank.date%></span></li>
        <% }); %>
      </ol>
      </section>
    </script>

	<script type='text/template' id="student-edit-template">
		<h1>Aikido Student</h1>
		<button class='student add'><img src='images/add.png'/></button>
		<ul class='attributes'>
			<li><span class="student_first_name">First name: <input name='first_name' type='text' value='<%= first_name %>' placeholder='First name'/></span></li>
			<li><span class="student_last_name">Last name: <input name='last_name' type='text' value='<%= last_name %>' placeholder='Last name'/></span></li>
			<li><span class="student_last_name">Join date: <input name='join_date' type='text' value='<%= join_date %>' placeholder='2000-01-01'/></span></li>
			<li><span class="student_last_name">Previous training days: <input name='previous_training_days' type='text' value='<%= previous_training_days %>' placeholder='0'/></span></li>
			<li><span class="student_last_name">Phone number: <input name='phone_number' type='text' value='<%= phone_number %>' placeholder='801-555-5555'/></span></li>
			<li><span class="student_last_name">Birth date: <input name='birth_date' type='text' value='<%= birth_date %>' placeholder='2000-01-01'/></span></li>
			<li><span class="student_last_name">Active?: <input name='is_active' type='text' value='<%= is_active %>' placeholder='Last name'/></span></li>
			<li><span class="student_last_name">Program: <input name='program' type='text' value='<%= program %>' placeholder='Last name'/></span></li>
			<li><ol class="ranks">
			<% _.each(ranks, function(rank) { %>
				<li><%= rank.name %> (<%= rank.alternate_name %>) <span class='date'><%= rank.date%></span></li>
			<% }); %>
			</ol></li>
			<li>
			<button class='student save'><img src='images/save.png'></button>
			<button class='student cancel'><img src='images/delete.png'></button>
			</li>
		</ul>
	</script>

    <script type="application/javascript">
		jQuery(function(){
			window.students.fetch();
		});
    </script>

  </head>

  <body>
	<div class='nav'>
		<ul>
			<li><a href="#">Students</a></li>
			<li><a href="#/classes">Classes</a></li>
		</ul>
	</div>
    <div id="container">Loading....</div>
  </body>
</html>
